.attribution {
          font-size: 11px;
          text-align: center;
          position: absolute;
          bottom: 0;
          margin: 0 auto;
          left: 30%;
          right: 30%;

          z-index: 999;

          a {
                    color: hsl(228, 45%, 44%);
          }
}
