// It contains the styling for the header section
.header-section {
          position: relative;
          bottom: 40%;
          left: 0;
          right: 0;

          h1 {
                    color: $cta-bg;
                    font-size: 2rem;
          }
}
