// It contains the styling for the header section

.header-section {
          position: absolute;
          top: 18%;
          h1 {
                    color: $cta-bg;
                    font-size: 2rem;
          }
}
